<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <p><strong>Sorry!</strong> <%= pluralize(@user.errors.count, "error") %> occured:</p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {:class => 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, {:class => 'form-control'} %>
  </div>
  
  <div class="form-group">
    <%= f.label :role %>
    <%= f.collection_select :role, Role.all, :id, :name, {:prompt => true}, {:class => 'form-control'}  %>
  </div>

  <div class="form-group"> 
    <%= f.submit "OK", :class => 'btn btn-primary' %>
  </div>
  
<% end %>
