<table class="table table-responsive table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.name %></td>
        <td>
          <%= link_to user_path(user) do %>
            <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
        </td>

        <td>
          <%= link_to edit_user_path(user) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>

        <td>
          <%= link_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
