<h1>Create ticket</h1>

<%= form_for :ticket, url: tickets_path do |f| %>
  <div class="form-group">
    <%= f.label :user %>
    <%= f.text_field :user, {:class => 'form-control', :readonly => true, :value => :current_user} %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :user, {:class => 'form-control', :readonly => true, :value => :new} %>
  </div>

  <div class="form-group">
    <%= f.label :priority %>
    <%= f.collection_select :priority, Priority.all, :id, :name, {:prompt => true}, {:class => 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.collection_select :category, Category.all, :id, :name, {:prompt => true}, {:class => 'form-control'}  %>
  </div>

  <div class="form-group">
    <%= f.label :milestone %>
    <%= f.collection_select :milestone, Milestone.all, :id, :name, {:prompt => true}, {:class => 'form-control'} %>
  </div>

  <div class="form-group">  
    <%= f.label :component %>
    <%= f.collection_select :component, Component.all, :id, :name, {:prompt => true}, {:class => 'form-control'}  %>
  </div>
  
  <div class="form-group">
    <%= f.check_box :feature_request %>
    <%= f.label :feature_request %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control' %>
    <p class="help-block">Example block-level help text here.</p>
  </div>
  
  <div class="form-group">
    <%= f.label :reproduction %>
    <%= f.text_area :reproduction, :class => 'form-control' %>
    <p class="help-block">Example block-level help text here.</p>
  </div>
  
  <div class="form-group"> 
    <%= f.label :test_suggestion %>
    <%= f.text_area :test_suggestion, :class => 'form-control' %>
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="form-group"> 
    <%= f.label :conclusion %>
    <%= f.text_area :conclusion, {:class => 'form-control', :readonly => true} %>
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="form-group"> 
    <%= f.submit "Create", :class => 'btn btn-primary' %>
  </div>
  
<% end %>
